<mat-card>
        <h1>Add Book</h1>
        <form #add="ngForm" (ngSubmit)="onSubmit()">
          <div class="example-container">
           <mat-form-field>
              <input matInput placeholder="title" [(ngModel)] = "title"
                               name = "title"
                               required #spy
                               #temp = "ngModel">
              <mat-error *ngIf="!(temp.valid || temp.pristine)">
                Title is required
              </mat-error>                        
            </mat-form-field>

            <br>
            <mat-form-field>
                    <input matInput placeholder="author" [(ngModel)] = "author"
                                     name = "author"
                                     required #spy
                                     #temp = "ngModel">
                    <mat-error *ngIf="!(temp.valid || temp.pristine)">
                            author is required
                    </mat-error>                        
                  </mat-form-field>   
            <!-- TODO: remove this: {{city}} -->
            <div >
                <button mat-raised-button color="primary" [disabled]="!add.form.valid">Primary</button>
            </div>
          </div>
        </form>
        </mat-card>
        
        